<div class="control-group">
	<label class="control-label">Von</label>
	<div class="controls">
		<input id="von" name="von" type="text" placeholder="2012-01-01 14:00" class="inupt-xlarge" ng-model="fahrt.von">
	</div>
</div>

<div class="control-group">
	<label class="control-label">Bis</label>
	<div class="controls">
		<input id="bis" name="bis" type="text" placeholder="2012-01-01 15:00" class="inupt-xlarge" ng-model="fahrt.bis">
	</div>
</div>

<div class="control-group">
	<label class="control-label">Strecke</label>
	<div class="controls">
		<input id="strecke" name="strecke" type="text" placeholder="Holzweg 1, Berlin" class="inupt-xlarge" ng-model="fahrt.strecke">
	</div>
</div>

<div class="control-group">
	<label class="control-label">Zweck</label>
	<div class="controls">
		<input id="zweck" name="zweck" type="text" placeholder="Kundenbesuch XYZ" class="inupt-xlarge" ng-model="fahrt.zweck">
	</div>
</div>

<div class="control-group">
	<label class="control-label">KM-Start</label>
	<div class="controls">
		<input id="kmStart" name="kmStart" type="text" placeholder="125" class="inupt-xlarge" ng-model="fahrt.kmStart">
	</div>
</div>

<div class="control-group">
	<label class="control-label">KM-Ende</label>
	<div class="controls">
		<input id="kmEnde" name="kmEnde" type="text" placeholder="150" class="inupt-xlarge" ng-model="fahrt.kmEnde">
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<label class="checkbox">
			<input id="privat" name="privat" type="checkbox" ng-model="fahrt.privat">
			Privat
		</label>
	</div>
</div>

<div class="control-group">
	<label class="control-label">Fahrer</label>
	<div class="controls">
		<input id="fahrer" name="fahrer" type="text" placeholder="Marcus Brose" class="inupt-xlarge" ng-model="fahrt.fahrer">
	</div>
</div>

<div class="control-group">
	<label class="control-label">Strecke</label>
	<div class="controls">
		<input id="fahrzeug" name="fahrzeug" type="text" placeholder="B-CD 123" class="inupt-xlarge" ng-model="fahrt.fahrzeug">
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<input type="submit" class="btn btn-primary" value="Speicher">
	</div>
</div>